[submodule "Modules/juce_organicui"]
	path = Modules/juce_organicui
	url = http://github.com/benkuper/juce_organicui
[submodule "Modules/juce_timeline"]
	path = Modules/juce_timeline
	url = http://github.com/benkuper/juce_timeline
[submodule "Modules/juce_sharedtexture"]
	path = Modules/juce_sharedtexture
	url = http://github.com/benkuper/juce_sharedtexture
[submodule "Firmware\\BentoFlowCreator\\src\\sensors\\imu\\"]
	path = Firmware\\BentoFlowCreator\\src\\sensors\\imu\\
	url = https://github.com/adafruit/Adafruit_Sensor
[submodule "Modules/juce_simpleweb"]
	path = Modules/juce_simpleweb
	url = https://github.com/benkuper/juce_simpleweb
[submodule "juce_serial"]
	path = juce_serial
	url = https://github.com/benkuper/juce_serial